@font-face {
    font-family: 'nunito';
    src: url(/Nunito/Nunito-Regular.ttf) format(OpenType);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-semibold';
    src: url(/Nunito/Nunito-SemiBold.ttf) format(OpenType);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-bold';
    src: url(/Nunito/Nunito-Bold.ttf) format(OpenType);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf) format(ttf);
    font-weight: bold;
    font-style: normal;
}










* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
    transition: .8s all ease;
}

body {
    scrollbar-width: #5138ed;
    scroll-behavior: smooth;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'nunito';
}


.logo {
    width: 83px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(143, 143, 143, 0.12);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}

.nav-links {
    transition: 0.7s ease;
    color: #000;
    font-weight: 400;
}

.active {
    color: #739051;
}

.hambuger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #8DC048;
}

.cta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.signup {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #8DC048;
    padding: 10px 13px;
    border-radius: 3px;
}

.log-in {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: none;
}

.sign-up {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #8DC048;
    padding: 10px 13px;
    border-radius: 3px;
    display: none;
}

.logo img {
    cursor: pointer;
}






/* BANNER SECTION */
.banner {
    display: flex;
    align-items: center;
    margin-top: 4.9rem;
    margin-left: 5rem;
    gap: 4rem;
    justify-content: center;
}

.banner h1 {
    font-family: 'nunito-semibold';
    font-weight: 200;
    font-size: 33px;
    margin-bottom: 27px;
    max-width: 1000px;
}

.edit {
    font-family: 'nunito-bold';
    position: relative;
    padding: 2px 7px;
    border: 1.3px dashed rgba(0, 0, 0, 0.15);
}

.eclipse {
    position: absolute;
    top: 10.5rem;
    left: 23.5rem;
}

.eclipse2 {
    position: absolute;
    top: 14rem;
    left: 35.9rem;
}

.banner-content {
    font-family: 'nunito';
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 500px;
}

.banner a {
    color: #fff;
    font-size: 15px;
    font-family: 'nunito';
    padding: 10px 13px;
    border-radius: 4px;
    background: #8DC048;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    margin-bottom: 50px;
}

.discover {
    font-family: 'nunito';
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.5%;
    margin-bottom: 30px;
}

.discovery {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-img img {
    width: 1300px;
}





/* HOME SECTION 2 */
.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 93px;
    margin: 100px 5rem 0 5rem;
    flex-wrap: wrap;
}

.sec2-content p {
    color: #739051;
    font-family: 'nunito';
    font-size: 16px;
    margin-bottom: 10px;
}

.sec2-content h3 {
    color: #000;
    font-family: 'nunito-semibold';
    font-size: 20px;
    line-height: 135.8%;
    max-width: 591px;
    margin-bottom: 20px;
}

.sec2-content h4 {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.8%;
    font-family: 'nunito';
    max-width: 618px;
    margin-bottom: 20px;
}

.sec2-content a {
    color: #fff;
    font-size: 15px;
    font-family: 'nunito';
    padding: 10px 13px;
    border-radius: 4px;
    background: #8DC048;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    margin-bottom: 50px;
}




/* HOME SECTION 3 */
.section3-title {
    margin-top: 100px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section3-title .line {
    width: 490px;
    height: 2px;
    background: #8dc04826;
}

.section3-title h2 {
    font-size: 28px;
    font-family: 'nunito-semibold';
}

.section3-title span {
    color: #739051;
}

.section3-title p {
    width: 562px;
    height: 40px;
    flex-shrink: 0;
    font-family: 'nunito';
    max-width: 562px;
    height: 40px;
    text-align: center;
    margin: 20px auto;
}

.sec3-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 5rem 0 5rem;
    gap: 2rem;
}

/* Card 1 */
.sec3-card1 {
    border-radius: 10px;
    background: #F6F6F6;
    padding: 22px;
    width: fit-content;
    border-top-right-radius: 10px solid #000;
}

.sec3-card1 h4 {
    color: #00000066;
    font-size: 16px;
    font-weight: 500;
    font-family: 'nunito';
    margin-top: 25px;
}

.sec3-card1 h3 {
    color: #000;
    font-size: 18px;
    font-family: 'nunito-semibold';
    max-width: 267px;
    margin-top: 20px;
}

.sec3-card1 p {
    color: #00000099;
    font-size: 12px;
    font-family: 'nunito';
    margin-top: 26px;
    margin-bottom: 40px;
}

.fa-location-dot {
    color: #000;
    font-size: 15px;
}

.flex {
    display: flex;
    gap: 0.7rem;
}

.sec3-card1 a {
    color: #000;
    font-size: 13px;
    font-family: 'nunito-semibold';
    border-radius: 5px;
    background: rgba(216, 216, 216, 0.40);
    padding: 10px 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.vector-img {
    position: absolute;
    bottom: -10rem;
    left: 22rem;
}

.vector2-img {
    position: absolute;
    bottom: 10rem;
    left: 22rem;
}


/* Card 2 */
.sec3-card2 {
    border-radius: 10px;
    background: #F6F6F6;
    padding: 22px;
    width: fit-content;
    border-top-right-radius: 10px solid #000;
}

.sec3-card2 h4 {
    color: #00000066;
    font-size: 16px;
    font-weight: 500;
    font-family: 'nunito';
    margin-top: 25px;
}

.sec3-card2 h3 {
    color: #000;
    font-size: 18px;
    font-family: 'nunito-semibold';
    max-width: 267px;
    margin-top: 20px;
}

.sec3-card2 p {
    color: #00000099;
    font-size: 12px;
    font-family: 'nunito';
    margin-top: 26px;
    margin-bottom: 40px;
}

.sec3-card2 a {
    color: #000;
    font-size: 13px;
    font-family: 'nunito-semibold';
    border-radius: 5px;
    background: rgba(216, 216, 216, 0.40);
    padding: 10px 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

/* Card 3 */
.sec3-card3 {
    border-radius: 10px;
    background: #F6F6F6;
    padding: 22px;
    width: fit-content;
    border-top-right-radius: 10px solid #000;
}

.sec3-card3 h4 {
    color: #00000066;
    font-size: 16px;
    font-weight: 500;
    font-family: 'nunito';
    margin-top: 25px;
}

.sec3-card3 h3 {
    color: #000;
    font-size: 18px;
    font-family: 'nunito-semibold';
    max-width: 267px;
    margin-top: 20px;
}

.sec3-card3 p {
    color: #00000099;
    font-size: 12px;
    font-family: 'nunito';
    margin-top: 26px;
    margin-bottom: 40px;
}

.sec3-card3 a {
    color: #000;
    font-size: 13px;
    font-family: 'nunito-semibold';
    border-radius: 5px;
    background: rgba(216, 216, 216, 0.40);
    padding: 10px 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.see-more {
    color: #000;
    font-family: 'nunito';
    float: right;
    margin-right: 5rem;
    margin-top: 1rem;
}





/* SECTION 4 */

.sec4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 5rem 0 5rem;
    gap: 140px;
    flex-wrap: wrap;
}

.sec4-img1 {
    position: relative;
}

.sec4-img2 {
    position: relative;
    bottom: 16rem;
    left: 17rem;
}

.sec4-img3 {
    position: relative;
    bottom: 10rem;
    left: -4rem;
}

.sec4-title h2 {
    color: #000;
    font-family: 'nunito';
    font-size: 34px;
    line-height: 112.9%;
    width: 514px;
}

.sec4-title span {
    color: #8DC048;
}

.sec4-title h3 {
    color: #000;
    font-family: 'nunito';
    font-size: 16px;
    font-weight: 400;
    line-height: 124.9%;
    max-width: 514px;
    margin-top: 28px;
}

/* NUMBER 1 */
.no1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.no1 h4 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'nunito-semibold';
    background: #58bd7499;
}

.no1 h2 {
    color: #8DC048;
    font-family: 'nunito';
    font-size: 20px;
    line-height: 172%;
    letter-spacing: 0.4px;
}

.no1 p {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'nunito';
    font-size: 15px;
    max-width: 442px;
}

/* NUMBER 2 */
.no2 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px 0px;
}

.no2 h4 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'nunito-semibold';
    background: #58bd7499;
}

.no2 h2 {
    color: #8DC048;
    font-family: 'nunito';
    font-size: 20px;
    line-height: 172%;
    letter-spacing: 0.4px;
}

.no2 p {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'nunito';
    font-size: 15px;
    max-width: 442px;
}

/* NUMBER 3 */
.no3 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.no3 h4 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'nunito-semibold';
    background: #58bd7499;
}

.no3 h2 {
    color: #8DC048;
    font-family: 'nunito';
    font-size: 20px;
    line-height: 172%;
    letter-spacing: 0.4px;
}

.no3 p {
    color: rgba(0, 0, 0, 0.80);
    font-family: 'nunito';
    font-size: 15px;
    max-width: 442px;
}





/* SECTION 5 */
.sec5 {
    background-image: url(/home\ images/sec5.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    margin: 100px 0 0 0;
}


.sec5 h3 {
    color: #ffffffe6;
    text-align: center;
    font-family: 'nunito-semibold';
    font-size: 36px;
    margin: 0 auto;
    padding-top: 7rem;
    max-width: 1000px;
}

.sec5 span {
    color: #FFD233E5;
}

.sec5 p {
    color: #ffffffe6;
    text-align: center;
    font-family: 'nunito';
    font-size: 17px;
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1000px;
}

/* RESPONSIVENESS */
@media (max-width: 375px) and (min-width: 320px){
    .banner {
        margin-top: 10rem;
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 1rem;
    }

    .banner h1 {
        font-size: 27px;
        max-width: 500px;
    }

    .banner-content {
        font-size: 14px;
    }

    .banner a {
        font-size: 13px;
    }

    .discover {
        font-size: 15px;
    }

    .sec2 {
        margin-top: 100px;
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 1rem;
    }

    .sec2-img img {
        width: 310px;
    }

    .sec2-content p {
        font-size: 15px;
    }

    .sec2-content h3 {
        font-size: 18px;
    }

    .sec2-content h4 {
        font-size: 14px;
    }

    .sec2-content a {
        font-size: 14px;
    }

    .section3-title .line {
        display: none;
    }
    .section3-title {
        margin: 50px 2rem 0 2rem;
        text-align: center;
    }
    .section3-title h2{
        font-size: 25px;
    }
    .section3-title p{
        max-width: 300px;
        font-size: 10px;
        display: none;
        margin-right: 5rem;
    }

    .sec4 {
        margin: 50px 2rem 0 2rem;
        gap: 10px;
    }
    .sec4-img1 {
        position: relative;
        top: 100px;
    }
    .sec4-img2 {
        bottom: 10rem;
        display: none;
        left: 16rem;
    }
    .sec4-img3 {
        display: none;
        bottom: 5rem;
        left: -2rem;
    }
    .sec4-title h2 {
        font-size: 26px;
    }
    .sec4-title h3 {
        font-size: 15px;
    }
    .no1 h4 {
        width: 70px;
        height: 35px;
        border-radius: 50%;
        font-size: 14px;
    }
    .no1 h2 {
        font-size: 17px;
    }
    .no1 p {
        font-size: 13px;
    }
    


    .no2 h4 {
        width: 70px;
        height: 35px;
        border-radius: 50%;
        font-size: 14px;
    }
    .no2 h2 {
        font-size: 17px;
    }
    .no2 p {
        font-size: 13px;
    }



    .no3 h4 {
        width: 70px;
        height: 35px;
        border-radius: 50%;
        font-size: 14px;
    }
    .no3 h2 {
        font-size: 17px;
    }
    .no3 p {
        font-size: 13px;
    }

    .sec4-title h2 {
        color: #000;
        font-family: 'nunito';
        font-size: 34px;
        line-height: 112.9%;
        width: 514px;
        margin-top: 8rem;
    }



    .sec5 {
        background-image: url(/home\ images/sec5.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
        margin: 100px 0 0 0;
    }
    .sec5 h3 {
        font-size: 20px;
        padding: 2px;
        padding-top: 7rem;
        max-width: 1000px;
    }

    .sec5 p {
        font-size: 13px;
    }


}







@media (max-width: 480px) and (min-width: 375px) {
    .banner {
        margin-top: 10rem;
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 1rem;
    }

    .banner h1 {
        font-size: 27px;
        max-width: 500px;
    }

    .banner-content {
        font-size: 14px;
    }

    .banner a {
        font-size: 13px;
    }

    .discover {
        font-size: 15px;
    }

    .sec2 {
        margin-top: 100px;
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 1rem;
    }

    .sec2-img img {
        width: 310px;
    }

    .sec2-content p {
        font-size: 15px;
    }

    .sec2-content h3 {
        font-size: 18px;
    }

    .sec2-content h4 {
        font-size: 14px;
    }

    .sec2-content a {
        font-size: 14px;
    }

    .section3-title .line {
        display: none;
    }
    .section3-title {
        margin: 50px 3rem 0 3rem;
        text-align: center;
    }
    .section3-title p{
        max-width: 366px;
    }

    .sec4 {
        margin: 50px 3rem 0 3rem;
        gap: 10px;
    }
    .sec4-img1 {
        position: relative;
        top: 100px;
    }
    .sec4-img2 {
        bottom: 10rem;
        left: 16rem;
    }
    .sec4-img3 {
        bottom: 5rem;
        left: -2rem;
    }
    .sec4-title h2 {
        font-size: 28px;
    }
    .sec4-title h3 {
        font-size: 15px;
    }
    .no1 h4 {
        width: 50px;
        height: 35px;
        border-radius: 50%;
        font-size: 14px;
    }
    .no1 h2 {
        font-size: 18px;
    }
    .no1 p {
        font-size: 14px;
    }
    


    .no2 h4 {
        width: 50px;
        height: 35px;
        border-radius: 50%;
        font-size: 14px;
    }
    .no2 h2 {
        font-size: 18px;
    }
    .no2 p {
        font-size: 14px;
    }



    .no3 h4 {
        width: 50px;
        height: 35px;
        border-radius: 50%;
        font-size: 14px;
    }
    .no3 h2 {
        font-size: 18px;
    }
    .no3 p {
        font-size: 14px;
    }



    .sec5 {
        background-image: url(/home\ images/sec5.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 350px;
        margin: 100px 0 0 0;
    }
    .sec5 h3 {
        font-size: 25px;
        padding: 3px;
        padding-top: 7rem;
        max-width: 1000px;
    }
    
}

@media (max-width: 800px) {
    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding: 02rem;
    }

    .sign-up {
        display: block;
        width: fit-content;
    }

    .log-in {
        display: block;
    }


    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        gap: 0rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding: 3rem;
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: flex-start;
        text-align: left;
        transition: 0.5s;
        background-color: #fff;
    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;
    }

    .banner {
        display: flex;
        align-items: center;
        margin-top: 10rem;
        margin-left: 3rem;
        margin-right: 3rem;
        gap: 4rem;
        flex-direction: column;
        justify-content: center;
    }

    .eclipse {
        display: none;
    }

    .eclipse2 {
        display: none;
    }

    .section3-title .line {
        display: none;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .sec3-cards {
        flex-wrap: wrap;
        margin: 50px 3rem 0 3rem;
        gap: 2rem;
    }
}