@font-face {
    font-family: 'nunito';
    src: url(/Nunito/Nunito-Regular.ttf) format(OpenType);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-semibold';
    src: url(/Nunito/Nunito-SemiBold.ttf) format(OpenType);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito-bold';
    src: url(/Nunito/Nunito-Bold.ttf) format(OpenType);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins/Poppins-Regular.ttf) format(ttf);
    font-weight: bold;
    font-style: normal;
}










* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
    transition: .8s all ease;
}

body {
    scrollbar-width: #5138ed;
    scroll-behavior: smooth;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'nunito';
}


.logo {
    width: 83px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(143, 143, 143, 0.12);
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}

.nav-links {
    transition: 0.7s ease;
    color: #000;
    font-weight: 400;
}

.active {
    color: #739051;
}

.hambuger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #8DC048;
}

.cta {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.signup {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #8DC048;
    padding: 10px 13px;
    border-radius: 3px;
}

.log-in {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: none;
}

.sign-up {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #8DC048;
    padding: 10px 13px;
    border-radius: 3px;
    display: none;
}






/* BANNER SECTION */
.banner {
    display: flex;
    align-items: center;
    margin-top: 4.9rem;
    margin-left: 5rem;
    gap: 4rem;
    justify-content: center;
}

.banner h1 {
    font-family: 'nunito-semibold';
    font-weight: 200;
    font-size: 33px;
    margin-bottom: 27px;
    max-width: 1000px;
}

.edit {
    font-family: 'nunito-bold';
    position: relative;
    padding: 2px 7px;
    border: 1.3px dashed rgba(0, 0, 0, 0.15);
}

.eclipse {
    position: absolute;
    top: 10.5rem;
    left: 23.5rem;
}

.eclipse2 {
    position: absolute;
    top: 14rem;
    left: 35.9rem;
}

.banner-content {
    font-family: 'nunito';
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 500px;
}

.banner a {
    color: #fff;
    font-size: 15px;
    font-family: 'nunito';
    padding: 10px 13px;
    border-radius: 4px;
    background: #8DC048;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    margin-bottom: 50px;
}

.discover {
    font-family: 'nunito';
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 129.5%;
    margin-bottom: 30px;
}

.discovery {
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-img img {
    width: 1300px;
}





/* HOME SECTION 2 */
.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 93px;
    margin: 100px 5rem 0 5rem;
    flex-wrap: wrap;
}

.sec2-content p {
    color: #739051;
    font-family: 'nunito';
    font-size: 16px;
    margin-bottom: 10px;
}

.sec2-content h3 {
    color: #000;
    font-family: 'nunito-semibold';
    font-size: 20px;
    line-height: 135.8%;
    max-width: 591px;
    margin-bottom: 20px;
}

.sec2-content h4 {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.8%;
    font-family: 'nunito';
    max-width: 618px;
    margin-bottom: 20px;
}

.sec2-content a {
    color: #fff;
    font-size: 15px;
    font-family: 'nunito';
    padding: 10px 13px;
    border-radius: 4px;
    background: #8DC048;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    margin-bottom: 50px;
}




/* HOME SECTION 3 */
.section3-title{
    margin-top: 100px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.section3-title .line {
    width: 490px;
    height: 2px;
    background: #8dc04826;
}

.section3-title h2 {
    font-size: 28px;
    font-family: 'nunito-semibold';
}

.section3-title span {
    color: #739051;
}

.section3-title p {
    width: 562px;
    height: 40px;
    flex-shrink: 0;
    font-family: 'nunito';
    max-width: 562px;
    height: 40px;
    text-align: center;
    margin: 20px auto;
}



















/* RESPONSIVENESS */

@media (max-width: 800px) {
    .hambuger {
        display: block;
    }

    .hambuger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hambuger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        padding: 02rem;
    }

    .sign-up {
        display: block;
        width: fit-content;
    }

    .log-in {
        display: block;
    }


    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        gap: 0rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        padding: 3rem;
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: flex-start;
        text-align: left;
        transition: 0.5s;
        background-color: #fff;
    }

    .nav-items {
        margin: 16px 0;
    }

    .nav-menu.active {
        right: 0;
    }
}